@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'WorkSans';
  src: url('/assets/fonts/WorkSans-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'WorkSans';
  src: url('/assets/fonts/WorkSans-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'WorkSans';
  src: url('/assets/fonts/WorkSans-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'WorkSans';
  src: url('/assets/fonts/WorkSans-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

footer a {
  @apply underline
}

article a {
  @apply underline
}

article h1 a, article h2 a, article h3 a {
  @apply no-underline
}

article a:hover {
  @apply text-indigo-600
}

article .blocks h1 {
  @apply text-4xl font-bold mt-20;
}

article .blocks h2 {
  @apply text-3xl font-medium mt-10;
}

article .blocks h1+h2 {
  @apply mt-0;
}

article .blocks h3 {
  @apply text-2xl font-bold;
}

article .blocks blockquote {
  @apply border-l-4 border-gray-300 pl-4 italic md:w-2/3;
}

article .blocks blockquote footer {
  @apply mt-5 text-xs;
}

article .blocks ul {
  @apply list-disc text-xl md:w-2/3 list-inside md:list-outside;
}

article .blocks ul li { 
  @apply pb-3;
}

article .blocks p {
  @apply text-xl md:w-2/3;
}

article .blocks img {
  @apply max-w-full;
}