@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'WorkSans';
  src: url('/assets/fonts/WorkSans-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'WorkSans';
  src: url('/assets/fonts/WorkSans-Italic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'WorkSans';
  src: url('/assets/fonts/WorkSans-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'WorkSans';
  src: url('/assets/fonts/WorkSans-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

footer a {
  @apply underline
}

article a {
  @apply underline
}

article a:hover {
  @apply text-indigo-500
}

article h1 {
  @apply text-3xl font-bold;
}

article h2 {
  @apply text-2xl font-bold;
}

article h3 {
  @apply text-xl font-bold;
}

article blockquote {
  @apply border-l-4 border-gray-300 pl-4 italic;
}

article ul {
  @apply list-disc list-inside;
}

article ol {
  @apply list-decimal list-inside;
}

article p {
}

rticle img {
  @apply max-w-full;
}